<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.td3_liste_planetes">

    <application
        android:allowBackup="true"
        android:icon="@drawable/galaxy"
        android:label="@string/app_name"
        android:roundIcon="@drawable/galaxy"
        android:supportsRtl="true"
        android:theme="@style/Theme.TD3_Liste_planetes">
        <activity android:name=".SplashScreen" >
                <intent-filter>
                    <action android:name="android.intent.action.MAIN" />

                    <category android:name="android.intent.category.LAUNCHER" />
                </intent-filter>
        </activity>
        <activity android:name=".ItemContent"/>
        <activity android:name=".MainActivity">
        </activity>
    </application>

</manifest>